$primary-font: "Raleway", sans-serif;

$font-xs: 8px;
$font-xs: 10px;
$font-sm: 12px;
$font-md: 14px;
$font-lg: 18px;
$font-xl: 24px;
$font-xxl: 32px;

$primary-color: rgba(25, 118, 210, 1);
$primary-color-hover: rgba(0, 75, 160, 1);

$black: rgba(33, 33, 33, 1);

$white: rgba(246, 246, 246, 1);
$white-075: rgba(246, 246, 246, .75);
$white-smokey: rgba(225, 226, 225, 1);
$white-smokey-hover: rgba(174, 174, 174, 1);

$red: rgba(244, 67, 54, 1);
$red-hover: rgba(186, 0, 13, 1);