$primary-font: "Raleway", sans-serif;

$font-xs: 8px;
$font-xs: 10px;
$font-sm: 12px;
$font-md: 14px;
$font-lg: 18px;
$font-xl: 24px;
$font-xxl: 32px;

$primary-color: rgba(28, 108, 216, 1);

$white: rgba(246, 246, 246, 1);